.wrap{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.jumbotron{
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  width: 60%;
  text-align: center;
  box-shadow: 0 0 5px gray;
  width: 30%;
  font-size: 20px;
}

.jumbotron h1 .display-4{
  margin-top:5px;
}

.jumbotron .profilephoto{
  /* should be caculated */
  height:150px;
  width: 150px;
  background-image: url("images/TenGiFace.jpg");
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: calc(30%);
}

#contactheader{
  background-color: gray;
  color: #fff;
  font: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#contactbody{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#contactbody ul{
  width: 100%;
  margin-left: 0;
  margin-right: 0
}

.userindex{
  display:none;
}
